.commentContainer {
  width: 100%;
  margin: 2.5rem 0;
}

.commentContainer h2 {
  text-align: center;
}

.new {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin: 2.5rem 0;
}

.new input {
  flex-grow: 5;
  outline: none;
  border: none;
  border-radius: var(--border-radius-small);
  border: 1px solid #d0d0d0;
  transition: 0.25s ease;
  padding: 0.5rem 1rem;
  font-size: large;

  &:focus {
    /* border: none; */
    border: 1px solid var(--color-blue-dark);
  }
}

.new button {
  width: auto;
  flex-grow: 1;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
}

.comment {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-card);
  padding: 1rem 2.5rem;
}

.comment p {
  font-weight: 500;
  font-size: 1.5rem;
}

.comment > div {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: 400;
  font-size: 1rem;
}
